<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ceva.ubmobile"> <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->
    <uses-sdk tools:overrideLibrary="com.toptoche.searchablespinnerlibrary,     gr.escsoft.michaelprimez.searchablespinner,     com.flutterwave.raveandroid,     com.mattprecious.swirl, co.paystack.android"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK"/> -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature android:name="android.hardware.screen.portrait"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <!-- Marshmallow fingerprint permission -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <!-- Samsung fingerprint permission, only required if you include the Spass module -->
    <!-- <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/> -->
    <application
        android:name=".core.UBNApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnionBrown"
        tools:replace="android:icon, android:theme, android:supportsRtl, android:allowBackup">

        <!-- maps stuff -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <!-- Azure Stuff -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="@string/kifunguu_cha_umma"/>

        <service
            android:name=".azure.MyInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".azure.RegistrationIntentService"
            android:exported="false">
        </service>

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.ceva.ubmobile"/>
            </intent-filter>
        </receiver>
        <!-- End Azure Stuff -->
        <receiver
            android:name=".security.ScreenReceiver"
            android:enabled="true"/>

        <activity
            android:name=".core.ui.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".core.ui.Sign_In"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.LandingPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.LandingPage"/>
        </activity>
        <activity
            android:name=".core.ui.DashBoard"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".core.ui.billers.BillPayments"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_bill_payments"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.Transfers"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_transfers"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.MiniStatement"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_mini_statement"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".core.ui.AirtimeTopUp"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.billers.BillPayments"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.billers.BillPayments"/>
        </activity>
        <activity
            android:name=".core.ui.billers.PayDueBills"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.billers.BillPayments"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.billers.BillPayments"/>
        </activity>
        <activity
            android:name=".core.ui.transfers.TransfersControllerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.Transfers"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Transfers"/>
        </activity>
        <!-- Azure Dialog -->
        <!-- End of Azure Dialog -->
        <activity android:name=".core.ui.transfers.TransferConfirm">
        </activity>
        <activity
            android:name=".core.ui.TransactionController"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.Transfers"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Transfers"/>
        </activity>
        <activity
            android:name=".core.ui.bankservices.Withdrawals"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_withdrawals"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.bankservices.CashMenu"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_cash_menu"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.mvisa.MvisaMenu"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.ComingSoon"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_coming_soon"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.ForgotPassword"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.Sign_In"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Sign_In"/>
        </activity>
        <activity
            android:name=".core.ui.Profile"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.maps.ATMLocator"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.bankservices.ChequeBookRequest"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.bankservices.BankDraftRequest"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.cards.CardManagement"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.MailBox"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.FullStatement"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.MiniStatement"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.MiniStatement"/>
        </activity>
        <activity
            android:name=".core.ui.ScrollingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_scrolling"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".core.omniview.AccountOpening"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.beneficiaries.Beneficiaries"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.beneficiaries.AddBeneficiary"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.beneficiaries.Beneficiaries"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.beneficiaries.Beneficiaries"/>
        </activity>
        <activity
            android:name=".core.signon.TermsAndConditions"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.Sign_In"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Sign_In"/>
        </activity>
        <activity
            android:name=".core.signon.StepTwo"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.signon.TermsAndConditions"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.signon.TermsAndConditions"/>
        </activity>
        <activity
            android:name=".core.signon.UsernameSelection"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.signon.StepTwo"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.signon.StepTwo"/>
        </activity>
        <activity
            android:name=".core.signon.PINSetting"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.signon.UsernameSelection"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.signon.UsernameSelection"/>
        </activity>
        <activity
            android:name=".core.signon.SecurityQuestion"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.signon.PINSetting"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.signon.PINSetting"/>
        </activity>
        <activity
            android:name=".core.omniview.OpenAccountValidation"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.omniview.AccountOpening"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.omniview.AccountOpening"/>
        </activity>
        <activity
            android:name=".core.ui.PINChange"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.Profile"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Profile"/>
        </activity>
        <activity
            android:name=".core.ui.TransactionPinChange"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.Profile"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Profile"/>
        </activity>
        <activity
            android:name=".core.omniview.InviteFriend"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.Profile"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Profile"/>
        </activity>
        <activity
            android:name=".core.omniview.InsuranceRequest"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.cards.CardTopUp"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.cards.CardManagement"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.cards.CardManagement"/>
        </activity>
        <activity
            android:name=".core.ui.billers.Billers"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_bill_payments"
            android:parentActivityName=".core.ui.billers.BillerCategories"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.billers.BillerCategories"/>
        </activity>
        <activity
            android:name=".core.lifestyle.MyDonations"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.omniview.Investments"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.lifestyle.flights.FlightBooking"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.lifestyle.flights.FlightConfirm"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.lifestyle.flights.FlightBooking"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.lifestyle.flights.FlightBooking"/>
        </activity>
        <activity
            android:name=".core.lifestyle.doctors.DoctorAppoint"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.lifestyle.doctors.DoctorConfirm"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.lifestyle.doctors.DoctorAppoint"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.lifestyle.doctors.DoctorAppoint"/>
        </activity>
        <activity
            android:name=".core.ui.socialmedia.LinkSocialMedia"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.socialmedia.SocialLink"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.socialmedia.LinkSocialMedia"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.socialmedia.LinkSocialMedia"/>
        </activity>
        <activity
            android:name=".core.ui.locator.RequestDSA"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.cards.CardRequest"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_card_request"
            android:parentActivityName=".core.ui.cards.CardManagement"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.cards.CardManagement"/>
        </activity>
        <activity android:name=".core.ui.LandingPage"
            android:theme="@style/Theme.UnionBlue">
        </activity>
        <activity
            android:name=".core.lifestyle.deals.HomePageDeals"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.LandingPage"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.LandingPage"/>
        </activity>
        <activity
            android:name=".core.ui.transfers.ScheduledTransfersActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_scheduled_transfers"
            android:parentActivityName=".core.ui.Transfers"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Transfers"/>
        </activity>
        <activity
            android:name=".core.omniview.ViewLoans"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.DashBoard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>

        <!-- - Start of Weather Stuff -->
        <activity
            android:name="cz.martykan.forecastie.activities.WeatherActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".core.ui.LandingPage"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.LandingPage"/>
        </activity>
        <activity
            android:name="cz.martykan.forecastie.activities.SettingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme"/>

        <receiver android:name="cz.martykan.forecastie.widgets.ExtensiveWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/extensive_widget"/>
        </receiver>
        <receiver android:name="cz.martykan.forecastie.widgets.TimeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_widget"/>
        </receiver>

        <service
            android:name="cz.martykan.forecastie.widgets.DashClockWeatherExtension"
            android:icon="@drawable/ic_cloud_white_24dp"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension"/>
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2"/>
            <meta-data
                android:name="worldReadable"
                android:value="true"/>
            <meta-data
                android:name="settingsActivity"
                android:value=".ExampleSettingsActivity"/>
        </service>

        <receiver android:name="cz.martykan.forecastie.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="cz.martykan.forecastie.activities.MapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName="cz.martykan.forecastie.activities.WeatherActivity"
            android:theme="@style/AppTheme.NoStatusBar"/>
        <activity
            android:name="cz.martykan.forecastie.activities.GraphActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/action_graphs"
            android:parentActivityName="cz.martykan.forecastie.activities.WeatherActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- End of weather stuff -->
        <activity
            android:name=".core.ui.ContactUs"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".core.ui.LandingPage"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.LandingPage"/>
        </activity>
        <activity
            android:name=".core.lifestyle.deals.HotDeals"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_hot_deals"
            android:parentActivityName=".core.ui.LandingPage"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.LandingPage"/>
        </activity>
        <activity
            android:name=".core.lifestyle.Markets"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_markets"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.lifestyle.MarketsSubCategories"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_markets_sub_categories"
            android:parentActivityName=".core.lifestyle.Markets"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.lifestyle.Markets"/>
        </activity>
        <activity
            android:name=".core.lifestyle.LifestyleProducts"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_lifestyle_products"
            android:parentActivityName=".core.lifestyle.MarketsSubCategories"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.lifestyle.MarketsSubCategories"/>
        </activity>
        <activity
            android:name=".core.signon.ExistingUser"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_existing_user"
            android:parentActivityName=".core.ui.Sign_In"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Sign_In"/>
        </activity>
        <activity
            android:name=".core.signon.NewUser"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_new_user"
            android:parentActivityName=".core.ui.LandingPage"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.LandingPage"/>
        </activity>
        <activity
            android:name=".core.signon.PasswordSetting"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_password_setting"
            android:parentActivityName=".core.ui.Sign_In"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Sign_In"/>
        </activity>
        <activity
            android:name=".core.lifestyle.ProductDetails"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_product_details"
            android:parentActivityName=".core.lifestyle.LifestyleProducts"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.lifestyle.LifestyleProducts"/>
        </activity>
        <activity
            android:name=".core.ui.bankservices.CancelToken"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_cancel_token"
            android:parentActivityName=".core.ui.bankservices.CashMenu"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.bankservices.CashMenu"/>
        </activity>
        <activity
            android:name=".core.lifestyle.deals.HomePageDetails"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_home_page_details"
            android:parentActivityName=".core.lifestyle.deals.HomePageDeals"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.lifestyle.deals.HomePageDeals"/>
        </activity>
        <activity
            android:name=".core.ui.FullStatementAlt"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_full_statement_alt"
            >
        </activity>
        <activity
            android:name=".core.news_simple.SimpleNews"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_simple_news"
            >
        </activity>
        <activity
            android:name=".core.news_simple.NewsDetails"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_news_details"
            android:parentActivityName=".core.news_simple.SimpleNews"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.news_simple.SimpleNews"/>
        </activity>
        <activity
            android:name=".core.ui.locator.RequestAgent"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_request_agent">
        </activity>
        <activity
            android:name=".core.signon.newtobank.NewToBank"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_new_to_bank"
            android:parentActivityName=".core.ui.LandingPage"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.LandingPage"/>
        </activity>
        <activity
            android:name=".core.omniview.accountopening.ExistingAccountOpen"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_new_to_bank"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.billers.BillerCategories"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_biller_categories"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.DeviceReplacementOTP"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_device_replacement_otp"
            android:parentActivityName=".core.ui.Sign_In"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Sign_In"/>
        </activity>
        <activity
            android:name=".core.ui.transfers.SavedBeneficiaryTransfer"
            android:label="@string/title_activity_saved_beneficiary_transfer"
            android:parentActivityName=".core.ui.Transfers"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Transfers"/>
        </activity>
        <activity
            android:name=".core.ui.locator.RequestHistory"
            android:label="@string/title_activity_request_history"
            android:parentActivityName=".core.ui.locator.RequestAgent"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.locator.RequestAgent"/>
        </activity>
        <activity
            android:name="com.zercomsystems.android.unionatmlocator.activities.SplashActivityATM"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"/>
        <activity
            android:name="com.zercomsystems.android.unionatmlocator.activities.MainActivityATM"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/LocatorTheme"/>
        <activity
            android:name="com.zercomsystems.android.unionatmlocator.activities.MapActivityATM"
            android:screenOrientation="portrait"
            android:theme="@style/LocatorTheme.ActionBar.Transparent"/>
        <activity
            android:name="com.zercomsystems.android.unionatmlocator.activities.TxATMDetailsActivityATM"
            android:screenOrientation="portrait"
            android:theme="@style/LocatorTheme.ActionBar.Transparent"/>
        <activity
            android:name="com.zercomsystems.android.unionatmlocator.activities.IntroActivity"
            android:label="Quick tutorial"
            android:theme="@style/DetailsThemeNo"/>
        <activity
            android:name=".core.ui.bankservices.StartStopCard"
            android:label="@string/title_activity_start_stop_card"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.DebitCardValidation"
            android:label="@string/title_activity_debit_card_validation"
            android:parentActivityName=".core.ui.Profile"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Profile"/>
        </activity>
        <activity
            android:name=".core.ui.transfers.TransfersHistory"
            android:label="@string/title_activity_transfers_history"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.lifestyle.deals.InsideOffers"
            android:label="@string/title_activity_inside_offers"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity android:name=".core.ui.ConfirmationActivity">
        </activity>
        <activity
            android:name=".core.ui.transfers.WithinBankActivity"
            android:label="@string/title_activity_within_bank"
            android:parentActivityName=".core.ui.Transfers"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Transfers"/>
        </activity>
        <activity
            android:name=".core.ui.DashboardAlt"
            android:label="@string/title_activity_dashboard_alt"
            >
        </activity>
        <activity
            android:name=".core.ui.FlutterTest"
            android:label="@string/title_activity_flutter_test"
            >
        </activity>
        <activity
            android:name=".core.ui.dashboard.ExpandedDashBoard"
            android:label="@string/title_activity_expanded_dash_board"
            >
        </activity>
        <activity
            android:name=".core.ui.dashboard.TermDepositDetails"
            android:label="@string/title_activity_term_deposit_details"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.merchantpayments.MerchantsList"
            android:label="@string/title_activity_merchants_list"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.merchantpayments.ReferenceEntry"
            android:label="@string/title_activity_reference_entry"
            android:parentActivityName=".core.ui.merchantpayments.MerchantsList"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.merchantpayments.MerchantsList"/>
        </activity>
        <activity
            android:name=".core.ui.merchantpayments.PayMerchant"
            android:label="@string/title_activity_pay_merchant"
            android:parentActivityName=".core.ui.merchantpayments.ReferenceEntry"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.merchantpayments.ReferenceEntry"/>
        </activity>
        <activity
            android:name=".core.ui.dashboard.LoanDetails"
            android:label="@string/title_activity_loan_details"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.merchantpayments.RevPayRef"
            android:label="@string/title_activity_rev_pay_ref"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.merchantpayments.RevPayConfirm"
            android:label="@string/title_activity_rev_pay_confirm"
            android:parentActivityName=".core.ui.merchantpayments.RevPayRef"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.merchantpayments.RevPayRef"/>
        </activity>
        <activity
            android:name=".core.ui.transfers.OwnAccountsActivity"
            android:label="@string/title_activity_own_accounts"
            android:parentActivityName=".core.ui.Transfers"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Transfers"/>
        </activity>
        <activity
            android:name=".core.BioTCs"
            android:label="@string/title_activity_bio_tcs"
            android:parentActivityName=".core.ui.Profile"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.Profile"/>
        </activity>
        <activity
            android:name=".core.ui.merchantpayments.NairabetRef"
            android:label="@string/title_activity_nairabet_ref"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
        <activity
            android:name=".core.ui.merchantpayments.NairabetConfirm"
            android:label="@string/title_activity_nairabet_confirm"
            android:parentActivityName=".core.ui.DashBoard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ceva.ubmobile.core.ui.DashBoard"/>
        </activity>
    </application>

</manifest>